{% extends 'app/base.html' %}   
{% load static %}

{% block title %}Category{% endblock %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us</h2>
    <br>
    <div class="about-us">
        <div class="section" id="mission">
            <h2>Our Mission</h2>
            <p>Our mission is to deliver exceptional products and services that create value for our customers, stakeholders, and the community.</p>
        </div>
        <div class="section" id="vision">
            <h2>Our Vision</h2>
            <p>We envision a future where innovation and customer satisfaction drive our success, making a positive impact on the world.</p>
        </div>
        <div class="section" id="location">
            <h2>Our Location</h2>
            <p>We are located at 123 Main Street, Anytown, USA. Feel free to visit us or get in touch with us through our contact page for more details.</p>
        </div>
    </div>
</div>
{% endblock main-content %}